# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vendor
logs
etc/app.ini
micro-mall-pay-consumer
micro-mall-pay-consumer.pid
micro-mall-pay-consumer-darwin-amd64
micro-mall-pay-consumer-linux-amd64
micro-mall-pay-consumer-windows-amd64.exe
micro-mall-pay-consumer-windows-amd64
nohup.out